/* Header Part */
* {
    margin: 0px;
    padding: 0px;
}

.header {
    padding-top: 180px;
    padding-left: 250px;
    /* padding-bottom: 90px; */
    background-color: rgba(229, 84, 115, 0.10);
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}



/* Section part of Header */

.fower_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 400px;

}




.flower_title {
    color: #0c0c0c;
    font-family: Lato;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;

}

.flower_description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    padding-right: 120px;

}

.btn_primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
}



/* Bonus part of flower */


.bonus_part_flowers {
    margin-top: 250px;
    /* margin-left: 450px;
    margin-left: 450px; */
}

.featured_title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.featured_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    /* 166.667% */
}

.flower_section {
    display: flex;
    margin-left: 450px;
    margin-left: 450px;

}

.bonus_img_1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 12px;
    /* padding: 80px; */

}

.bonus_img_2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 12px;
    /* padding: 80px; */
}

.bonus_img_3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 0px;
    margin: 12px;
    /* padding: 80px; */
}

.img_sized {
    width: 464px;
    height: 538px;
    padding: 50px 0px 50px 50px;


}


.ul_dis {
    display: flex;
    justify-content: space-evenly;
    color: #272727;
    text-align: center;
    /* align-items: center; */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    margin: 0px 280px;
}


















/* Deal Section */

.hot_deal_part {
    margin-top: 130px;
    margin-bottom: 200px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px 450px 120px 450px;
}

.speacial_word {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flower_discount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 400px;
}

.title_discount {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.title_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    /* 166.667% */
}

.btn {
    text-align: center;
}



/* Instagram Part Section */

.instagram {
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 150px;
    /* text-align: center; */

}

.instagram_title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.instagram_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}


.instagram_part {
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 70px;
}

.image_part_1 {
    padding: 5px;
}

.image_part_2 {
    padding: 5px;
}

.image_part_3 {
    padding: 5px;
}

.image_part_4 {
    padding: 5px;
}


/* 
Footer part
 */

.footer {
    background-color: #111010;
    padding-top: 130px;
    padding-bottom: 70px;


}

.flower {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flower_tile {
    text-align: center;
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}

.flower_description {
    color: whitesmoke;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.flower_footer {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* Latest deals of flowers */



.bg_image {
    background-image: url('../Images/Rectangle\ 9.png');
    margin: 130px 540px 130px 540px;
    padding: 135px 270px 135px 270px;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.image_title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 17px;
}

.image_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    /* 166.667% */
}

.input_type {
    display: inline;
}

#form_design {
    /* display: block; */
    /* overflow: hidden; */
    height: 50px;
    width: 510px;
    border: 3px solid white;
    border-radius: 8px;
    background: #FFF;
    font-size: 25px;
    margin-left: 90px;
    margin-right: 10px;
}